/* Comment */

body {
  background-color: white;
  font-family: "Gidole";
}
p {
  background-color: white
}

.logo-image{
  width: 200px;
  height: 50px;
  overflow: hidden;
  margin-top: -6px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #003366;
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  
}

/* Links inside the navbar */
.navbar a {
  float:right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: larger;
}

/* Change background on mouse-over */
.navbar a:hover {
  background:#001c4a;
  /*color: orange; */
  border-radius: 20px;
}


/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* TeamPage*/
#Team.teampage{
  padding:20px
}
#Team.teampage.photo{
  float: left;
  width: 20%;
}

#Team.teampage.descripe{
  float: left;
  width: 80%;
}