/* Comment */

body {
  background-color: white;
  font-family: "Gidole";
}
p {
  background-color: white
}

/* The navigation bar */
.navbar {
overflow: hidden;
background-color: #003366;
position: fixed; 
top: 0; 
left: 0;
width: 100%; 


}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
}

/* Links inside the navbar */
.navbar a {
float:right;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-family: "Segoe UI",Arial,sans-serif;
font-size: medium;
}

/* Change background on mouse-over */
.navbar a:hover {
background:#001a33;
/*color: orange; */

}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

/* TeamPage*/
#Team.teampage{
  padding:20px
}
#Team.teampage.photo{
  float: left;
  width: 20%;
}

#Team.teampage.descripe{
  float: left;
  width: 80%;
}